body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    text-align: left;
}

p {
    font-size: 18px;
    color: #333;
    text-align: center;
}

.icon {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 110px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #45a049;
}

.center-content {
    text-align: center;
    margin-top: 20px;
}